.field
  = f.label :client_id, 'Client'
  = f.select :client_id, Client.all.collect { |p| [ p.name, p.id ] }, {include_blank: false}, class: 'ui search selection dropdown'
.field
  = f.label :topic
  = f.text_field :topic
.two.fields
  .field
    = f.label :start_date
    .ui.calendar.range-start
      .ui.left.icon.input
        %i.calendar.icon
        = f.text_field :start_date
  .field
    = f.label :end_date
    .ui.calendar.range-end
      .ui.left.icon.input
        %i.calendar.icon
        = f.text_field :end_date
.field
  = f.label :saved_search_ids, 'Eligibility criteria'
  = f.select :saved_search_ids, SavedSearch.all.collect { |ss| [ ss.label, ss.id ] }, {include_hidden: false}, multiple: true, class: 'ui search selection dropdown'
.field
  = f.label :checklist_ids, 'Checklists'
  = f.select :checklist_ids, Checklist.all.collect { |c| [ c.name, c.id ] }, {include_hidden: false}, multiple: true, class: 'ui search selection dropdown'
