.ui.clearing.vertical.segment
  %h1.ui.left.floated.header
    Questions
    .sub.header
      = page_entries_info @questions

.ui.vertical.segment
  %table.ui.sortable.striped.table
    %thead
      %tr
        %th Text
        %th Form
        %th Type
        %th Choices
        %th # Answered
    %tbody
    - @questions.each do |question|
      %tr
        %td= link_to question.text, admin_question_path(question)
        -if question.form != nil
          %td= link_to question.form.name, "https://adhocteamus.wufoo.com/forms/#{question.form.url}"
        -else
          %td= link_to "Form Not Found", "https://cohortsfeedback.com/admin/forms"
        %td= question.datatype
        %td
          - if question.choices.any?
            .ui.list
            - question.choices.each do |choice|
              .item= choice
          - else
            Free text
        %td= question.answers_count

= paginate @questions
