.field
  = f.label :title
  = f.text_field :title
.field
  = f.label :body
  = f.trix_editor :body
.field
  = f.label :link_description, 'Facebook Link Description'
  = f.text_field :link_description
.field
  = f.label :pixel_code, 'Facebook Pixel Code'
  = f.text_area :pixel_code
